# Datasets
datasets/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment / secrets
.env

# IDE
.vscode/
.idea/

# Logs
*.log
processed/*.csv
processed/**/*.csvprocessed/*.csv
processed/**/*.csv
